
.buttonsContainer{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;

}

.button {
    width: 45px;
    height: 45px;
    margin: 3px;
    background-image: repeating-linear-gradient(135deg, rgba(68,68,68,0.07) 0px, rgba(68,68,68,0.07) 2px,transparent 2px, transparent 4px),repeating-linear-gradient(45deg, rgba(68,68,68,0.07) 0px, rgba(68,68,68,0.07) 2px,transparent 2px, transparent 4px),linear-gradient(135deg, rgb(251, 168, 16),rgb(251, 222, 55));
    border-radius: 9px;
}